@mixin holder {
    background-color: $very-peri-darker;
    border-radius: 10px;
    margin: 0 5px;
    box-shadow: 0 12px 8px $very-peri;
    max-height: 500px;
    max-width: 365px;
    overflow-y: auto;
}

@mixin button-styling {
    color: $very-peri-light;
    background-color: $very-peri-dark;
    border-radius: 8px;
    padding: 10px 15px;
    border: 2px solid $very-peri-dark;
    margin-top: 15px;
    margin-left: 5px;
    width: 100%;
    max-width: 365px;

    &:hover {
        cursor: pointer;
        background: $very-peri-darkest;
        border: 2px solid $very-peri-darkest;
    }
}