@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.accordion {
    background-color: $very-peri-darker;
    border-radius: 10px;
    margin: 0 5px;
    box-shadow: 0 12px 8px $very-peri;
    max-height: 500px;
    max-width: 350px;
    overflow-y: auto;

    .container {
        position: relative;
        padding: 10px 20px;

        &:hover {
            background-color: $very-peri;
            border-radius: 10px;
        }
    }

    .container.active {
        background-color: $very-peri-darkest;
        border-radius: 10px;

        &:hover {
            background-color: $very-peri;
            border-radius: 10px;
        }

        .content {
            display: flex;
            flex-direction: row;
            min-height: 200px;
            color: $very-peri-light;

            .food-pairing {
                overflow-y: auto;
                max-width: 210px;
            }
        }
    }

    .container.active .label::before {
        content: '-';
        font-size: 30px;
    }

    .label {
        position: relative;
        padding: 10px 0;
        font-size: 20px;
        color: $very-peri-light;
        cursor: pointer;
    }

    .label::before {
        content: '+';
        color: $very-peri-light;
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .content {
        position: relative;
        background-color: $very-peri-dark;
        border-radius: 10px;
        height: 0;
        font-size: 18px;
        text-align: justify;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        
        img {
            max-height: 130px;
            padding: 10px;
        }
    }
}

.close-button {
    @include button-styling;
}
