@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-title {
        background-color: $very-peri;
        width: 100%;
        margin-bottom: 25px;

        .title {
            @include app-title;
            font-size: 36px;
            font-weight: bold;
        }

        .version {
            @include app-title;
        }
    }

    app-beer-cta {
        width: 100%;
    }
}